chromadb
fastapi
langchain
openai
pydantic
python-dotenv
python-multipart
tiktoken
uvicorn

streamlit==1.22.0
streamlit-chat==0.0.2.2
pdfplumber
matplotlib
pandasai==1.2.8
faiss-cpu

loguru
bs4
pypdf
openpyxl
youtube-transcript-api==0.6.1
#hashlib